@import '../../../../assets/styles/variables';

.sidebar-menu {

  min-width: 200px;

  a {
    position: relative;
    color: #b8c7ce;
    display: block;
  }

  li.treeview {
    position: relative;
    margin: 0;
    padding: 0;

    > a {
      border-left: 3px solid transparent;

      padding: 12px 5px 12px 15px;
      -webkit-transition: all .15s ease;
      -moz-transition: all .15s ease;
      -ms-transition: all .15s ease;
      -o-transition: all .15s ease;
      transition: all .15s ease;

      md-icon.menu-icon {
        float: left;
        margin-top: -3px;
        margin-left: -6px;
        margin-right: 15px;
      }

      md-icon.sub-menu-toggle {
        font-size: 20px;
        float: right;

        -webkit-transition: all .15s ease;
        -moz-transition: all .15s ease;
        -ms-transition: all .15s ease;
        -o-transition: all .15s ease;
        transition: all .15s ease;

        &.open {
          -ms-transform: rotate(-90deg); /* IE 9 */
          -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
          transform: rotate(-90deg);
        }
      }

      &:hover {
        color: #fff;
        background: #2b2b2b;
        border-left-color: $r2-blue;
      }

    }

    .sub-menu-wrapper {
      height: 0;
      overflow: hidden;
      -webkit-transition: height .15s ease;
      -moz-transition: height .15s ease;
      -ms-transition: height .15s ease;
      -o-transition: height .15s ease;
      transition: height .15s ease;
    }

    .treeview-menu {
      background: $r2-blue;

      li {
        margin: 0;

        a {
          padding: 5px 5px 5px 15px;
          font-size: 14px;

          md-icon {
            float: left;
            font-size: 20px;
            margin-right: 12px;
            margin-top: -2px;
          }

          &:hover {
            color: #fff;
          }
        }

      }
    }
  }
}