<md-toolbar>
</md-toolbar>

<ul class="sidebar-menu">

  <li class="treeview" *ngFor="let item of menu; let i = index">
    <a [routerLink]="item.route" *ngIf="!item.children.length" (click)="clearOpen()">
      <md-icon class="menu-icon">{{item.icon}}</md-icon>
      <span>{{item.title}}</span>
    </a>
    <a href="javascript:void(0)" *ngIf="item.children.length" (click)="toggleChildren(i)">
      <md-icon class="menu-icon">{{item.icon}}</md-icon>
      <span>{{item.title}}</span>
      <md-icon class="sub-menu-toggle" [class.open]="showSubMenu(i)">keyboard_arrow_left</md-icon>
    </a>
    <div class="sub-menu-wrapper" [sidebarSubMenu]="showSubMenu(i)">
      <ul class="treeview-menu" #subMenu>
        <li class="active" *ngFor="let sub of item.children">
          <a [routerLink]="sub.route">
            <md-icon>data_usage</md-icon>
            {{sub.title}}
          </a>
        </li>
      </ul>
    </div>
  </li>

</ul>