<div class="page-wrapper" id="page-wrapper">

  <r2-sidebar class="sidebar" [style.width]="getDynamicSize()" [sidebarState]="sbOpened" (openSidebar)="toggleSidebar($event)"></r2-sidebar>

  <div class="right-content" [style.left]="getDynamicSize()">

    <r2-header (toggleSidebar)="toggleSidebar($event)"></r2-header>

    <div class="main-content">

      <md-card>
        <router-outlet></router-outlet>
      </md-card>

    </div>

  </div>

</div>

<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m" *ngIf="isDev"></ngrx-store-log-monitor>