@import '../assets/styles/style';

a {
  text-decoration: none;
}

ul {
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-wrapper, .sidebar, .right-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.page-wrapper {

  background: $light-grey;

  .sidebar {

    right: auto;
    background: $dark-grey;

    -webkit-transition: width .25s ease;
    -moz-transition: width .25s ease;
    -ms-transition: width .25s ease;
    -o-transition: width .25s ease;
    transition: width .25s ease;

  }

  .right-content {
    left: 200px;

    -webkit-transition: left .25s ease;
    -moz-transition: left .25s ease;
    -ms-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease;
  }

  .header {
    md-toolbar {
      background: $r2-blue;
      color: white;
      padding: 0;
    }
  }

  .main-content {
    padding: 10px;
  }

}